* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./assets/purple\ cenery.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.game {
    height: 70vh;
    position: relative;
    width: 70vw;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    backdrop-filter: blur(30px);
}



/* player 1 */

.player1 {
    height: 100%;
    width: 50%;
    border: 4px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}

.container1A {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    height: 180px;
    width: 270px;
 text-align: center;
}


.name1 {
    text-transform: capitalize;
}

.totalScore1 {
    font-size: 35px;
    background-color: rgb(234, 207, 172);
    padding: 0px 2px;
}



.container1B {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    /* height: 90px;
    width: 230px ;     */
    text-align: center;
}

.heading1 {
    text-transform: uppercase;
}

.currentScore1 {
    font-size: 28px;
    background-color: white;

}


/*  player 2 */

.player2 {
    height: 100%;
    width: 50%;
    border: 4px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 15px 15px 0px;

}

.container2A {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    height: 180px;
    width: 270px;
    text-align: center;

}

.name2 {
    text-transform: capitalize;
}

.totalScore2 {
    font-size: 35px;
    background-color: rgb(234, 207, 172);
    padding: 0px 2px;
}

.container2B {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    height: 90px;
    width: 230px;
    text-align: center;

}

.heading2 {
    text-transform: uppercase;
}

.currentScore2 {
    font-size: 28px;
    background-color: white;

}



/*  buttons */

.buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;

}

.buttons img {
    width: 45px;
}

.buttons button {
    font-size: 20px;
    padding: 5px 4px;
    border: 1.5px solid;
    border-radius: 10px;
    text-transform: capitalize;
}

.buttons button:hover {
    background-color: black;
    color: white;
}

.buttons button:active {
    transform: scale(105%);
}

.conatinerButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* @media only screen and (max-width:1025px) and (min-height:1000px)  */


@media only screen and (max-width:950px) and (max-height:1000px) {

 
    .game {
        height: 60vh;
        position: relative;
        width: 70vw;
        border: 1px solid;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        backdrop-filter: blur(30px);
    }
 
    .container1A,
    .container2A {
        height: 130px;
        width: 190px;
    }

    .name1,
    .name2 {
        font-size: 22px;
    }

    .totalScore1,
    .totalScore2 {
        font-size: 28px;
    }

    .container1B,.container2B {
        background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        border: 1px solid;
        border-radius: 10px;
        padding: 6px;
        height: 80px; 
        width: 200px ;    
    }
    
    .heading1,.heading2 {
        font-size: 20px;
    }
    
    .currentScore1,.currentScore2 {
        font-size: 20px;   
    }

    .buttons {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
    
    }
    
    .buttons img {
        width: 35px;
    }
    
    .buttons button {
        font-size: 14px;
        padding: 4px 3px;
        border: 1.5px solid;
        border-radius: 10px;
        text-transform: capitalize;
    }
    
}

@media only screen and (max-width:750px) and (max-height:1000px) {

 
    .game {
        height: 60vh;
        position: relative;
        width: 85vw;
        border: 1px solid;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        backdrop-filter: blur(30px);
    }
} 

@media only screen and (max-width:670px) and (max-height:1000px) {

 
    .game {
        height: 60vh;
        position: relative;
        width: 85vw;
        border: 1px solid;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        backdrop-filter: blur(30px);
    }
 
    .container1A,
    .container2A {
        height: 160px;
        width: 150px;
    }
    .container1A .h3,
    .container2A .h3 {
        font-size: 14px !important;
    }

    .name1,
    .name2 {
        font-size: 21px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .totalScore1,
    .totalScore2 {
        font-size: 22px;
    }

    .container1B,.container2B {
        background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        border: 1px solid;
        border-radius: 10px;
        padding: 6px;
        height: 100px; 
        width: 150px ;    
    }
    
    .heading1,.heading2 {
        font-size: 18px;
    }
    
    .currentScore1,.currentScore2 {
        font-size: 19px;   
    }

    .buttons {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
    
    }
    
    .buttons img {
        width: 34px;
    }
    
    .buttons button {
        font-size: 12px;
        padding: 4px 3px;
        border: 1.5px solid;
        border-radius: 10px;
        text-transform: capitalize;
    }
    
}

@media only screen and (max-width:530px) and (max-height:1000px) {

 
    .game {
        height: 55vh;
        position: relative;
        width: 90vw;
        border: 1px solid;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        backdrop-filter: blur(30px);
    }
 
    .container1A,
    .container2A {
        height: 160px;
        width: 120px;
    }
    .container1A .h3,
    .container2A .h3 {
        font-size: 14px !important;
    }

    .name1,
    .name2 {
        font-size: 21px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .totalScore1,
    .totalScore2 {
        font-size: 22px;
    }

    .container1B,.container2B {
        background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        border: 1px solid;
        border-radius: 10px;
        padding: 6px;
        height: 110px; 
        width: 120px ;    
    }
    
    .heading1,.heading2 {
        font-size: 17px;
    }
    
    .currentScore1,.currentScore2 {
        font-size: 18px;   
    }

    .buttons {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
    
    }
    
    .buttons img {
        width: 34px;
    }
    
    .buttons button {
        font-size: 12px;
        padding: 4px 2px;
        border: 1.5px solid;
        border-radius: 10px;
        text-transform: capitalize;
        width: 44px;
    }
    
}

@media only screen and (max-width:530px) and (max-height:800px) {

 
    .game {
        height: 60vh;
        position: relative;
        width: 90vw;
        border: 1px solid;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        backdrop-filter: blur(30px);
    }
 
    .container1A,
    .container2A {
        height: 140px;
        width: 100px;
    }
    .container1A .h3,
    .container2A .h3 {
        font-size: 13.5px !important;
    }

    .name1,
    .name2 {
        font-size: 19px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .totalScore1,
    .totalScore2 {
        font-size: 21px;
    }

    .container1B,.container2B {
        background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        border: 1px solid;
        border-radius: 10px;
        padding: 6px;
        height: 100px; 
        width: 100px ;    
    }
    
    .heading1,.heading2 {
        font-size: 14px;
        letter-spacing: 1px;
    }
    
    .currentScore1,.currentScore2 {
        font-size: 17px;   
    }

    .buttons {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
    
    }
    
    .buttons img {
        width: 34px;
    }
    
    .buttons button {
        font-size: 11px;
        padding: 4px 2px;
        border: 1.5px solid;
        border-radius: 10px;
        text-transform: capitalize;
        width: 44px;
    }
    
}





/*  for toggle */

.borderNone {
    border: none;
}

.grayShadow {
    box-shadow: 2px 2px 6px 2px gray;
    padding: 0px 2px;
}

.redShadow {
    box-shadow: 2px 2px 6px 2px red;

}

.rotation {
    animation: rotateDice 1s ease;
}

@keyframes rotateDice {
    50% {
        transform: rotate(180deg) scale(135%);
    }

    100% {
        transform: rotate(180deg) scale(1)
    }
}

.parentWinModal{
    position: absolute;
    z-index: 2;
    height: 30%;
    width: 30%;
    display: none;
}
.winModal{
    background-color:white;
    text-transform: uppercase;
    position: relative;
    /* padding: 7% 10%; */
    box-shadow: 2px 2px 6px 11px rgb(237, 229, 229);
    font-size: 22px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    height: 100%;
    width: 100%;
    padding: 10px;

}
.winModal .wName{
    font-size: 26px;
    color: red;
}

.winModal img{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.winModal img:hover{
    color: white;
    background-color: rgb(247, 92, 92);
    transform: scale(125%);
}
@media only screen and (max-width:530px) and (max-height:1000px) {
    .winModal{
        background-color:white;
        text-transform: uppercase;
        position: absolute;
        box-shadow: 2px 2px 6px 11px rgb(237, 229, 229);
        /* border: 2px solid; */
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
    }  
    .winModal .wName{
        font-size: 18px;
    }
    .parentWinModal{
        position: absolute;
        z-index: 2;
        height: 16%;
        width: 60%;
    }
}

.modalOpen{
    display: inline-block;
}



